@import url('https://use.fontawesome.com/releases/v5.10.2/css/all.css');

.button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    outline: none;
}

.hover {
    cursor: pointer;
    color: rgb(51, 51, 51);
}

.fill {
    color:rgb(251, 251, 251);
}