@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

body {
    background-color: rgb(238, 238, 238);
}

a {
    text-decoration: none;
}

.button {
    color: rgb(51, 51, 51);
    border-radius: 25px;
    border: 1px solid rgb(51, 51, 51);
    padding: 8px 12px;
    margin-right: 12px;
    font-size: 15px;
    cursor:pointer;
    outline: none;
}

.fill {
    background-color: rgb(51, 51, 51);
    color: rgb(251, 51, 251);
}

.button.hover:hover{
    background-color: rgb(51, 251, 251);
    border: 1px solid rgb(0, 102, 0);
    color: rgb(0, 102, 0);;
}

.hover{
    background-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
}

.button.fill.hover {
    color: rgb(251, 251, 251);
}